/***** header *****/
header .container-sm > .row {
    height: 60px;
}

header li {
    font-size: 12px;
}

header h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.justify-content-end {
    height: 100%;
}