/***** resert margin *****/
h1, h2, h3, p {
    margin: 0;
}
/***** header *****/
header li {
    font-size: 12px;
}

/***** section start *****/
#start .wrapper_img_start {
    max-width: 250px;
}

/***** section portfolio *****/
#portfolio .col-12 > * {
    border-radius: 20px;
}

/***** footer *****/
footer .social > i {
    color: white;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 5px;
}


