/***** resert margin *****/
h1, h2, h3, p {
    margin: 0;
}
/***** header *****/
header li {
    font-size: 12px;
}

/***** section start *****/
#start .wrapper_img_start {
    width: 250px;
}

/***** section portfolio *****/
#portfolio .col-12 > * {
    border-radius: 20px;
}